.main-layout {
  display: grid;
  grid-template-areas: 
  'left right'
  'interaction interaction';
  grid-template-rows: 7fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 0.7rem;
  padding: 0.7rem;
  height: 100%;
}

.interaction-container {
  grid-area: interaction;
  display: flex;
  align-items: center;
  justify-content: center;
}
